.docker {
  background-color: whitesmoke;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 10%;
  &__text {
    font-size: 3.5rem;
    font-weight: 600;
    flex: 1;
  }
  &__img {
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* creates a 12-column grid */
    grid-template-rows: repeat(12, 1fr); /* creates a 12-row grid */
    width: 500px; /* or your desired width for the combined image */
    height: 500px; /* or your desired height for the combined image */
    gap: 0; /* Ensures no space between the grid cells */
    flex: 1;
    aspect-ratio: 1/1;
    .back-burger {
      grid-column: 5 / -1;
      grid-row: 1 / 10;
      z-index: 1;
      width: 100%; /* Ensures the image fills its grid area */
      align-self: end;
    }
    .front-burger {
      grid-column: 1 / 10;
      grid-row: 5 / -1;
      z-index: 2;
      width: 100%;
      align-self: end;
    }
  }
  &__header {
    font-size: 4rem; // Adjust to match design
    font-weight: 800;
    line-height: 1.1;

    span {
      color: #f3af31; // That nice orange-gold color
    }
  }

  &__description {
    font-size: 10px;
    font-weight: 100;
    margin-top: 2.5rem;
  }
  &__slider-controls {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    .dot {
      width: 2rem;
      height: 2rem;
      background-color: #ccc;
      border-radius: 50%;

      &.active {
        background-color: #f3af31;
      }
    }

    .arrow {
      color: #f3af31;
      font-size: 5rem;
      margin-left: 1rem;
    }
  }
}
