.footer {
  background-color: #e9edeb;
  padding: 5rem 2rem;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1140px;
    margin: 0 auto;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 1rem;

    &-text {
      font-size: 3rem;
      font-weight: 800;
      text-transform: uppercase;

      span {
        color: #f2b02e;
      }
    }
  }

  &__content {
    &-header {
      font-size: 1.8rem;
      font-weight: 700;
      margin-bottom: 2rem;
      text-transform: capitalize; // Matches your "Sitemap" casing
    }

    &-text {
      .footer__list {
        list-style: none;

        li:not(:last-child) {
          margin-bottom: 1.2rem;
        }

        a {
          text-decoration: none;
          color: #333;
          font-size: 1.4rem;
          transition: all 0.2s;

          &:hover {
            color: #f2b02e;
          }
        }
      }
    }
  }

  &__newsletter {
    &-form {
      display: flex;
      margin-top: 1rem;
    }
  }

  &__input {
    padding: 1.2rem;
    border: 1px solid #ddd;
    border-radius: 4px 0 0 4px;
    width: 200px;
  }

  &__btn {
    padding: 1.2rem 2rem;
    background-color: #f2b02e;
    border: none;
    border-radius: 0 4px 4px 0;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      background-color: darken(#f2b02e, 5%);
    }
  }
}
