.container {
  padding: 2rem;
}

.header {
  height: 95vh;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15rem;
  &__logo-box {
    display: flex;
    align-items: center;
    height: 60%;
  }
  &__logo-img {
    padding: 1px;
  }
  &__logo-text {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-style: italic;
    span {
      color: #f6b400;

      text-transform: uppercase;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 9rem;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5rem;
  }
  &__link-item {
    position: relative;
    text-decoration: none;
    color: #000;
    font-weight: 600;
  }
  // 1. Define the base state of the underline
  &__link-item::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 3.5px;
    bottom: -5px;
    left: 0;
    background-color: #ff6f24;
    transform: scaleX(0); // Hidden by default
    transition: transform 0.2s ease-out;
    transform-origin: left;
  }

  // 2. Trigger the change when the LINK ITEM is hovered
  &__link-item:hover::after,
  &__link-item:focus::after {
    transform: scaleX(1);
    transform-origin: bottom-right; // Creates the 'slide out' effect
  }
  &__link-item--active::after {
    transform: scaleX(1); // Set it to full width
    transform-origin: bottom-right; // Make sure it uses the same origin as hover
  }
  &__img-box {
    height: 2rem;
    width: 2rem;
  }
}
.introduction {
  height: 90%;
  width: 100%;

  margin-top: -3rem;
  display: flex;

  &__text {
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__text-1 {
      font-size: 3rem;

      background-color: #000;
    }
    &__text-2 {
    }
    &__text-3 {
    }
  }
  &__image {
    background-color: #000;
    flex: 1;
  }
}
